body {
  background-image: url('http://img14.deviantart.net/10ee/i/2012/359/e/3/paper_background_by_stickdudeseven-d5p5fts.jpg');
  color: blue;
  font-family: monospace, sans-serif;
  font-size: 26px;
}

img {
  width: 30%;
  height: 300px;
  margin: 10px;
  border: 1px solid black;
}
